#places {
    position: fixed;
    top: 72px;
    left: 20px;
    z-index: 1;
    width: 200px;
}
#place-item, .no-results{
    background-color: white;
    padding: 5px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}
#place-item, .no-results{
    color: #999999;
}
#place-item:hover {
    background-color: #eef7ff;
}